<div class="container-fluid statistic-no-padding">
        <!-- <div class="row statistic-top">
                <div ng-include="topMenu"></div>
        </div> -->
        <div class="row statistic-subtopmenu">
                <subtopmenu></subtopmenu>
        </div>
        <div class="row row-content">
            <div ng-include="sideBar"></div>
        <br><br>
        <div class="col-md-1">
            </div>  
        <div class="col-md-7">
                <div class="row">
            <table class="table">     
                <tr>
                    <td>Total Video Conference</td>
                    <td>: {{  data.roomName  }}</td>
                </tr>
                <tr>
                    <td>Total Duration</td>
                    <td>: {{  data.roomName  }}</td>
                </tr>
                <tr>
                    <td>Total Instructor</td>
                    <td>: {{  data.roomName  }}</td>
                </tr>
                <tr>
                    <td>Total Audiences</td>
                    <td>: {{  data.roomName  }}</td>
                </tr>
            </table> 
            </div>
        </div>
    </div>
</div>