<div class="container-fluid statistic-no-padding">
        <!-- <div class="row statistic-top">
                <div ng-include="topMenu"></div>
        </div> -->
        <div class="row statistic-subtopmenu">
                <subtopmenu></subtopmenu>
        </div>
        <div class="row row-content">
            <div ng-include="sideBar"></div>
        <br><br>
        <div class="col-md-1">
            </div>  
        <div class="col-md-7">
                <div class="row">
            <table class="table table-statistic">     
                <tr>
                    <td class="icon-statistic"><img src="assets/img/icon-statistic/Icon-Total-V.-Conf..png"/></td>
                    <td class="tableName-statistic">Total Video Conference</td>
                    <td>: {{  data.roomName  }}</td>
                </tr>
                <tr>
                    <td class="icon-statistic"><img src="assets/img/icon-statistic/Icon-Tot.Duration.png"/></td>
                    <td class="tableName-statistic">Total Duration</td>
                    <td>: {{  data.roomName  }}</td>
                </tr>
                <tr>
                    <td class="icon-statistic"><img src="assets/img/icon-statistic/Icon-Tot.Instructor.png"/></td>
                    <td class="tableName-statistic">Total Instructor</td>
                    <td>: {{  data.roomName  }}</td>
                </tr>
                <tr>
                    <td class="icon-statistic"><img src="assets/img/icon-statistic/Icon-Tot.Audience.png"/></td>
                    <td class="tableName-statistic">Total Audiences</td>
                    <td>: {{  data.roomName  }}</td>
                </tr>
            </table> 
            </div>
        </div>
    </div>
</div>