<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <video>
                <source src="" type="video/mp4">
            </video>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <label>Instructor Name</label>
                </div>
                <div class="col-md-7">
                    {{archive.instructorName}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <label>Room Name</label>
                </div>
                <div class="col-md-7">
                    {{archive.roomName}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <label>Total Duration</label>
                </div>
                <div class="col-md-7">
                    {{archive.totalDuration}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <label>Total Member</label>
                </div>
                <div class="col-md-7">
                    {{archive.totalMember}}
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>