<div class="container-fluid evaluation-no-padding">
        <!-- <div class="row evaluation-top">
                <div ng-include="topMenu"></div>
        </div> -->
        <div class="row evaluation-subtopmenu">
                <subtopmenu></subtopmenu>
        </div>
    <div class="row row-content">
                <div ng-include="sideBar"></div>
        <br><br><br>
        <div class="col-md-1">
        </div>  
        <div class="col-md-7">     
            <div class="row">
                <form name="update-form">
                <table class="table table-evaluation" ng-table="tableParamsTable" show-filter="false" >                   
                        <tr ng-repeat="data in $data">
                            <td title="'Member Name'" class="centerText">{{  data.memberName  }}</td>
                            <td title="'Passing Status'" class="centerText">{{ data.passingStatic == true ? 'Pass': 'Fail' }}</td>
                            <td colspan="2" title="'Passing Quiz'" class="centerText">
                                <label class="radio-evaluation text-blue">Pass
                                    <input type="radio" name="radio{{ data.NO }}"  ng-model="data.passing" ng-value="true">
                                    <span class="checkmark-pass"></span>
                                  </label>
                                  <label class="radio-evaluation text-red">Fail
                                        <input type="radio" name="radio{{ data.NO }}"  ng-model="data.passing" ng-value="false">
                                        <span class="checkmark-fail"></span>
                                      </label></td>
                            <!-- <td colspan="2" title="'Passing Quiz'" class="centerText"><input type="radio" name="radio{{ data.NO }}"  ng-model="data.passing" ng-value="true"  /><label style="color: green;">Pass</label>
                                <input type="radio" name="radio{{ data.NO }}"  ng-model="data.passing" ng-value="false" /><label style="color: red;">Fail</label>
                            </td> -->
                        </tr>
                </table>
                </form>
            </div>
            <div class = "col-md-2 col-md-offset-10">
                <a href="#" ng-click="update($event);" class="btn btn-primary span12">Update</a>
        </div>
        <!-- <div class = "col-md-2 col-md-offset-10">
            <a ng-href="#" ng-click="backTo();" class="btn btn-primary span12 ">Back</a>
            </div>
        </div> -->

    </div>
</div>