<div class="container-fluid history-no-padding">
        <div class="row history-subtopmenu">
            <subtopmenu></subtopmenu>
        </div>
    <div class="row row-content">
        <div ng-include="sideBar"></div>
        <div class="col-md-9">
            <br><br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <table class="table table-history" ng-table="roomTable">
                            <tr ng-repeat="room in $data" ng-click="redirect(room)">
                                <td title="'No'" class="centerText">{{room.No}}</td>
                                <td title="'Date'" class="centerText">{{room.scheduleShow}}</td>
                                <td title="'Room Name'" class="centerText">{{room.roomName}}</td>
                                <td title="'Duration'" class="centerText">{{room.duration}}</td>
                                <td title="'Total Member'" class="centerText">{{room.totalMember}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>