<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <!--image home-->
                </div>
                <div class="col-md-4">
                    <label>Room Name</label>
                </div>
                <div class="col-md-6">
                    {{$ctrl.roomheader.roomName}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <!--image calendar-->
                </div>
                <div class="col-md-4">
                    <label>Date</label>
                </div>
                <div class="col-md-6">
                    {{$ctrl.roomheader.schedule | date:'yyyy-MM-dd | HH:mm:ss'}} {{timezoneString}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <!--image duration-->
                </div>
                <div class="col-md-4">
                    <label>Duration</label>
                </div>
                <div class="col-md-6">
                    {{$ctrl.roomheader.duration}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <!--image instructor-->
                </div>
                <div class="col-md-4">
                    <label>Instructor</label>
                </div>
                <div class="col-md-6">
                    {{$ctrl.instructor.name}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <!--image member-->
                </div>
                <div class="col-md-4">
                    <label>Total Members</label>
                </div>
                <div class="col-md-6">
                    {{$ctrl.roomheader.totalMember}}
                </div>
            </div>
        </div>
    </div>
</div>